.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  gap: 2.5rem;
  margin-top: 3rem;
  padding: 1rem;
  
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

